In [2]:
import numpy as np
import pandas as pd

data1 = {  'group':['a','a','b','b','c'],'one':range(1,6),'two':range(2,7), 'three':[3,4,5,6,7],'four':np.arange(4,9),}
print('(1) 由列表组成的字典')
df=pd.DataFrame(data1, index=list('甲乙丙丁戊'))
df

(1) 由列表组成的字典

  group  one  two  three  four
甲     a    1    2      3     4
乙     a    2    3      4     5
丙     b    3    4      5     6
丁     b    4    5      6     7
戊     c    5    6      7     8

In [3]:
# groupby函数的返回值为为DataFrameGroupBy对象，有以下几个基本属性和方法
grouped=df.groupby(by='group')
grouped

In [4]:
# groups属性，返回值为字典，key是分组的类别
grouped.groups

{'a': ['甲', '乙'], 'b': ['丙', '丁'], 'c': ['戊']}

In [5]:
# len函数可以获得分组后的组别数
len(grouped.groups)

3

In [6]:
# get_group方法可以获得每个group对应的数据框
grouped.get_group('a')

  group  one  two  three  four
甲     a    1    2      3     4
乙     a    2    3      4     5

In [7]:
# 遍历group
for name, group in grouped:
    print(name)
    print(group)
    print('---------------------')

a
  group  one  two  three  four
甲     a    1    2      3     4
乙     a    2    3      4     5
---------------------
b
  group  one  two  three  four
丙     b    3    4      5     6
丁     b    4    5      6     7
---------------------
c
  group  one  two  three  four
戊     c    5    6      7     8
---------------------

In [8]:
# 分组过滤
# 当需要根据某种条件对group进行过滤时，可以使用filter方法，用法如下(返回 'DataFrame')
grouped.filter(lambda x: x["one"].mean() > 2.5)

  group  one  two  three  four
丙     b    3    4      5     6
丁     b    4    5      6     7
戊     c    5    6      7     8

In [9]:
# 汇总数据
# transform方法返回一个和输入的原始数据相同尺寸的数据框，常用于在原始数据框的基础上增加新的一列分组统计数据，用法如下
# 输出结果的行数和输入的原始数据框相同
# 内容为分组统计的结果


grouped.transform(lambda x:x.sum())

grouped["one"].transform(lambda x:x.sum())

甲    3
乙    3
丙    7
丁    7
戊    5
Name: one, dtype: int64

In [10]:
# 通过索引操作符，在原始数据框的基础上添加汇总列
df['mean_size'] = df.groupby('group')["one"].transform(lambda x:x.count())
df

  group  one  two  three  four  mean_size
甲     a    1    2      3     4          2
乙     a    2    3      4     5          2
丙     b    3    4      5     6          2
丁     b    4    5      6     7          2
戊     c    5    6      7     8          1

In [11]:
# 分组统计（向右展开）
for i in range(8):
    df[i]=False
    df[i]=df.apply(lambda x :((x["one"]<=i) & (x["four"]>=i)),axis=1)

In [12]:
df

,group,one,two,three,four,mean_size,0,1,2,3,4,5,6,7
甲,a,1,2,3,4,2,False,True,True,True,True,False,False,False
乙,a,2,3,4,5,2,False,False,True,True,True,True,False,False
丙,b,3,4,5,6,2,False,False,False,True,True,True,True,False
丁,b,4,5,6,7,2,False,False,False,False,True,True,True,True
戊,c,5,6,7,8,1,False,False,False,False,False,True,True,True